body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.user-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  margin: .3rem 0;
  padding: .6rem 3rem;
  border-radius: .3rem;
  font-weight: 300;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-index {
  margin-right: 1rem;
  color: tomato;
  font-size: 1.8rem;
}

.user-name {
  margin-right: 1rem;
  margin-top: 1.3rem;
  color: rgb(0, 35, 192);
}
.username{
  margin-top: none;
  margin-left: 1.6rem;
  font-size: .7rem;
  font-weight: 500;
  color:rgb(21, 0, 255)
}
.edit-btn{
  margin-right: 1rem;
  margin-left: .6rem;
  /* margin-bottom: 1.4rem; */
  background-color:grey;
  color:aqua;
  font-weight:600;
  border: none;
  border-radius: 0.5rem;
  padding: 3px 10px;
}
.delete-btn{
  color:red;
  font-weight: 600;
  margin-bottom: 1.4rem;
}